h1.header_1{
    position: absolute;
    width: 700px;
    height: 133px;
    left: 32px;
    top: 288px;
    
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 43px;
    line-height: 121.1%;
    /* or 52px */
    
    text-align: center;
    
    color: #252F65;
}

h2.header_2{

position: absolute;
width: 520px;
height: 53px;
left: 100px;
top: 415px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 18.5px;
line-height: 23px;
text-align: center;

color: #252F65;
}