.image-title {
    margin-left:30px;
    margin-top:33px;
  }

.salty-image {
  position: absolute;
  width: 677px;
  height: 677px;
  left: 994px;
  top: 58px;
  }

  .image-uploader {
    position: absolute;
    height: 498px;
    width: 1145px;
    left: 352px;
    top: 817px;
    border-radius: 21px;
    

background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(38, 50, 56, 0.5);
border-radius: 21px;
  }